In [2]:
import pandas as pd
import numpy as np

In [4]:
df=pd.DataFrame({'A':['foo','bar','foo','bar','foo','bar','foo','foo'],
                 'B':['one','one','two','three','two','two','one','three'],
                 'C':np.random.randn(8),
                 'D':np.random.randn(8)})

In [5]:
print(df)

     A      B         C         D
0  foo    one  0.688670  0.806808
1  bar    one -1.674704  0.413751
2  foo    two -1.000716 -0.042181
3  bar  three -1.347041 -0.962117
4  foo    two  0.033815 -0.211031
5  bar    two  0.879767 -0.455510
6  foo    one  0.537410 -0.518275
7  foo  three  0.397781 -0.559026

In [6]:
print(df.groupby("A").sum())

            C         D
A
bar -2.141977 -1.003877
foo  0.656960 -0.523706

In [7]:
print(df.groupby("A")['D'].sum())

A
bar   -1.003877
foo   -0.523706
Name: D, dtype: float64

In [14]:
df=pd.DataFrame({'X':['A','B','A','B'],'Y':[4,3,1,2]})
print(df)

   X  Y
0  A  4
1  B  3
2  A  1
3  B  2

In [16]:
print(list(df.groupby('X')))

[('A',    X  Y
0  A  4
2  A  1), ('B',    X  Y
1  B  3
3  B  2)]

In [17]:
print(list(df.groupby('X'))[0])#元组的第二个元素是DataFrame

('A',    X  Y
0  A  4
2  A  1)

In [19]:
for n,g in list(df.groupby('X')):
    print(n)
    print(g)

A
   X  Y
0  A  4
2  A  1
B
   X  Y
1  B  3
3  B  2

In [22]:
print(df.groupby('X').get_group('A'))

   X  Y
0  A  4
2  A  1

In [24]:
grouped=df.groupby('X')
print(grouped.groups)

{'A': Int64Index([0, 2], dtype='int64'), 'B': Int64Index([1, 3], dtype='int64')}

In [26]:
print(grouped.groups['A'])

Int64Index([0, 2], dtype='int64')

In [27]:
grouped.size()

X
A    2
B    2
dtype: int64

In [29]:
df=pd.DataFrame({'data1':np.random.rand(2),
                'data2':np.random.rand(2),
                'key1':['a','b'],
                'key2':['one','two']})

In [31]:
print(df)
print(df.dtypes)

      data1     data2 key1 key2
0  0.389388  0.457138    a  one
1  0.335142  0.883438    b  two
data1    float64
data2    float64
key1      object
key2      object
dtype: object

In [33]:
for n,p in df.groupby(df.dtypes,axis=1):
    print(n)
    print(p)

float64
      data1     data2
0  0.389388  0.457138
1  0.335142  0.883438
object
  key1 key2
0    a  one
1    b  two

In [36]:
df=pd.DataFrame(np.arange(16).reshape(4,4),columns=['a','b','c','d'])
print(df)

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [37]:
mapping={'a':'one','b':'one','c':'two','d':'two'}

In [40]:
list(df.groupby(mapping,axis=1))#以字典分组

[('one',
      a   b
  0   0   1
  1   4   5
  2   8   9
  3  12  13),
 ('two',
      c   d
  0   2   3
  1   6   7
  2  10  11
  3  14  15)]

In [41]:
df.groupby(mapping,axis=1).sum()

   one  two
0    1    5
1    9   13
2   17   21
3   25   29

In [43]:
s=pd.Series([1,2,3,10,20,30],index=[1,2,3,1,2,3])
print(s)

1     1
2     2
3     3
1    10
2    20
3    30
dtype: int64

In [44]:
grouped=s.groupby(level=0)
print(grouped)

<pandas.core.groupby.generic.SeriesGroupBy object at 0x00000217657FCC70>

In [45]:
list(grouped)

[(1,
  1     1
  1    10
  dtype: int64),
 (2,
  2     2
  2    20
  dtype: int64),
 (3,
  3     3
  3    30
  dtype: int64)]