In [12]:
import pandas as pd
import numpy as np

In [2]:
s=pd.Series([1,1,1,1,2,2,2,3,4,5,5,5,5])
print(s)

0     1
1     1
2     1
3     1
4     2
5     2
6     2
7     3
8     4
9     5
10    5
11    5
12    5
dtype: int64

In [3]:
print(s.duplicated())

0     False
1      True
2      True
3      True
4     False
5      True
6      True
7     False
8     False
9     False
10     True
11     True
12     True
dtype: bool

In [5]:
print(s[s.duplicated()==False])

0    1
4    2
7    3
8    4
9    5
dtype: int64

In [7]:
s.drop_duplicates(inplace=True)#等于true替换原值
print(s)

0    1
4    2
7    3
8    4
9    5
dtype: int64

In [9]:
df=pd.DataFrame({'key1':['a','a','3','4','5'],'key2':['a','a','b','b','c']})
print(df)

  key1 key2
0    a    a
1    a    a
2    3    b
3    4    b
4    5    c

In [10]:
print(df.duplicated())

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [11]:
print(df['key2'].duplicated())

0    False
1     True
2    False
3     True
4    False
Name: key2, dtype: bool

In [14]:
df.replace('a',np.nan)

  key1 key2
0  NaN  NaN
1  NaN  NaN
2    3    b
3    4    b
4    5    c