In [2]:
import pandas as pd
import numpy as np

In [3]:
date=['2017-5-1','2017-5-2','2017-5-3']*3
rng=pd.to_datetime(date)
df=pd.DataFrame({'date':rng,
                 'key':list('abcdabcda'),
                 'values':np.random.rand(9)*10
                })

In [4]:
print(df)

        date key    values
0 2017-05-01   a  6.592153
1 2017-05-02   b  1.407661
2 2017-05-03   c  0.402324
3 2017-05-01   d  3.087060
4 2017-05-02   a  9.430931
5 2017-05-03   b  9.539646
6 2017-05-01   c  9.459734
7 2017-05-02   d  3.217778
8 2017-05-03   a  7.060663

In [5]:
print(pd.pivot_table(df,values='values',index='date',aggfunc=np.sum))

               values
date
2017-05-01  19.138946
2017-05-02  14.056370
2017-05-03  17.002632

In [6]:
print(pd.pivot_table(df,values='values',index='date',columns='key',aggfunc=np.sum))

key                a         b         c         d
date
2017-05-01  6.592153       NaN  9.459734  3.087060
2017-05-02  9.430931  1.407661       NaN  3.217778
2017-05-03  7.060663  9.539646  0.402324       NaN

In [7]:
df=pd.DataFrame({'A':[1,2,2,2,2],
                'B':[3,3,4,4,4],
                'C':[1,1,np.nan,1,1]})

In [8]:
print(df)

   A  B    C
0  1  3  1.0
1  2  3  1.0
2  2  4  NaN
3  2  4  1.0
4  2  4  1.0

In [9]:
print(pd.crosstab(df['A'],df['B']))#交叉表

B  3  4
A
1  1  0
2  1  3

In [13]:
print(pd.crosstab(df['A'],df['B'],normalize=True))

B    3    4
A
1  0.2  0.0
2  0.2  0.6

In [14]:
print(pd.crosstab(df['A'],df['B'],values=df['C'],aggfunc=np.sum))#a=2,b=4时c的值求和

B    3    4
A
1  1.0  NaN
2  1.0  2.0

In [16]:
print(pd.crosstab(df['A'],df['B'],values=df['C'],aggfunc=np.sum,margins=True))

B      3    4  All
A
1    1.0  NaN  1.0
2    1.0  2.0  3.0
All  2.0  2.0  4.0